<!DOCTYPE html>
<html>
  <head>
    <title>Quora Qa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Quora QA</h1>
    <% flash.each do |key, value| %>
      <% if key == 'notice' %>
        <p id="notice"><b><%= value %></b></p>
      <% else %>
        <p class="error-exp"><%= value %></p>
      <% end %>
    <% end %>
    <br/>
    <%= link_to 'Home', root_path %>
    <% if user_signed_in? %>
      | <%= link_to "Welcome.. #{current_user.email}", '' %>
      | <%= link_to "Signout", destroy_user_session_path, method: :delete %>
      | <%= link_to "Followed Users", followed_users_path %>
      | <%= link_to "Followed Topics", followed_topics_path %>
    <% else %>
      | <%= link_to 'Login', new_user_session_path, class: 'login' %>
    <% end %>
    | <%= link_to 'Questions', questions_path, class: 'question' %>
    | <%= link_to 'Ask Questions', new_question_path, class: 'question' %>
    | <%= link_to 'Answers', answers_path, class: 'answer' %>
    | <%= link_to 'Topics', topics_path, class: 'topic' %>
    <%= yield %>
  </body>
</html>
